/*--------------------------------------
>			Breeze Style				<
>			Neon						<
>			https://github.com/tltneon	<
---------------------------------------*/

/* global */
body
{
  background-image: linear-gradient(rgba(220, 249, 255, 0.8), rgb(244, 251, 249));
	background-repeat: no-repeat;
  background-attachment: fixed;
  font-size:14px;
  font-family:helvetica,verdana,tahoma,arial;
  word-wrap:break-word;
}
td { border-radius: 6px; }

a:link, a:visited { text-decoration:none; color:#6f65a2; }
a:hover { color:#8298b9;}
a:active { color:#8298b9;}

/* add */
.annotation { text-align: center; background-color: #feffff; border: 1px solid #e5fbff; padding-top:17px; padding-bottom:17px; } 

/* details */
.details_table { margin: auto; border-spacing: 0px 5px; }
.details_table tr:nth-child(n) { background-color: #e4eaf2; white-space:nowrap; table-layout:fixed; }
.details_table tr:nth-child(2n) { background-color: #f4f7fa; white-space:nowrap; table-layout:fixed; }
.details_table tr:not(.table_head):hover td { background-color: #ecf9ff; border: 1px solid #e0f2f4; padding:3px; }
.details_table td { padding: 4px; }

.table_head { font-weight: bold; background-color: #e0edff !important; }
.spacer { background-color: #f6feff; border-radius: 6px; height:10px; width:90%; margin:auto; margin-top: 10px;  margin-bottom: 10px; border:1px solid #cee3e6; }
.noinfo{ margin:auto; text-align:center; background-color: #f4f7fa; display: inline-block; padding: 6px; border-radius: 6px; border: 1px solid #e0f2f4; }
#invalid_server_id, #back_to_servers_list { margin:auto; text-align:center; }
#servername { margin:auto; text-align:center; font-weight:bold; padding-bottom: 15px; font-size: 16px; }
#image_map { border-radius: 6px; }
#gamelink { width:100%; margin:auto; background-color: #f3fbff; text-align: center; padding-top:4px; padding-bottom:4px; border-radius: 6px; border: 1px solid #e0f2f4; }

/* list */
.contry_icon { border:none; width: 16px; height: 16px; }
a.details_icon { background-image: url(../other/icon_details.gif) !important; width: 16px; height: 16px; display: inline-block; }
.status_icon_onl { background-image: url(../other/icon_online.gif) !important; width: 16px; height: 16px; display: inline-block; }
.status_icon_nrs { background-image: url(../other/icon_no_response.gif) !important; width: 16px; height: 16px; display: inline-block; }
.status_icon_onp { background-image: url(../other/icon_online_password.gif) !important; width: 16px; height: 16px; display: inline-block; }

#server_list_table { margin:auto; width:85%; background-color: #f6feff; border-radius: 12px; margin-top:30px; }
#server_list_table td { border: 1px solid #e5fbff; border-radius: 12px; }
#server_list_table tr:nth-child(n) { background-color: #f3fbff; }
#server_list_table tr:nth-child(2n) { background-color: #feffff; }
#server_list_table td:hover, #server_list_table tr:hover td {background-color: #ecf9ff; }
#server_list_table_top { display:none; }
.connectlink_cell { text-align:right; }
.servername_cell { text-align:left; }
.servername_cell > div { width:100%; overflow:hidden; height:1.3em; line-height:1.3em; }
.map_cell { white-space:nowrap; text-align:left; }
.players_cell { white-space:nowrap; text-align:right; }
.details_cell, .status_cell { white-space:nowrap; text-align:center; }
.details_cell > a { text-decoration: none; }
#totals { width: fit-content; background-color: #f4f7fa; margin:auto; margin-top: 20px; }
#totals > div { border: 1px solid #e5fbff; padding: 10px; }

/* admin */
input[type='submit'] {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 4px;
	color: #555555;
	text-align:center;
	vertical-align: middle;
	text-decoration:none;
}
input[type='submit']:hover, input[type='submit']:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}
input[type='text'], input[type='number'], input[type='password'], select {
	display: block;
	border: none;
	border-radius: 6px;
	padding: 5px 8px;
	color: #333;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1);
}
input[type='text']:focus, input[type='number']:focus, input[type='password']:focus {
	outline: none;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1), 0 0 5px 1px #51CBEE;
}

/* */
.inline{display:inline-block;}
