/*--------------------------------------
>			Darken Style				<
>			Neon						<
>			https://github.com/tltneon	<
---------------------------------------*/

/* global */
body
{
  background-color:#191919;
  font-size:11px;
  font-family:verdana,tahoma,arial;
  word-wrap:break-word;
	color: white;
	font-weight: bold;
}

a:link, a:visited { text-decoration:none; color:#0088DD; }
a:hover{ color:#adcef1; }
a:active{ color:#adcef1; }

/* details */
.spacer { background-color: #282828; height:6px; width:90%; margin:auto; margin-top: 10px; margin-bottom: 10px; border:1px dotted black; }
.noinfo { margin:auto; text-align:center; background-color: #282828; display: inline-block; padding:15px; }
#invalid_server_id, #back_to_servers_list { margin:auto; text-align:center; }
#servername {	margin:auto; text-align:center; font-weight:bold; padding-bottom: 15px; font-size: 16px; }
#gamelink {width:100%; margin:auto; background-color: #e4eaf2; text-align: center; padding-top:4px; padding-bottom:4px; }

/* list */
img.list_icon { vertical-align:middle; border:none; }
#server_list_table { margin:auto; width:90%; border-radius: 12px; }
#server_list_table tr { background-color: #282828; }
#server_list_table td { padding:13px; border-bottom: 1px dotted black; }
#totals { width: fit-content; margin:auto; margin-top: 16px; }
#totals > div {width: fit-content;  background-color: #282828; padding:15px; }

/* */
.inline{ display:inline-block; }