/*--------------------------------------
>			Parallax Style				<
>			Neon						<
>			https://github.com/tltneon	<
---------------------------------------*/

/* global */
body
{
	margin: 0;
    padding: 0;
	background-color: #fff;
	font-size: 14px;
	font-family: Roboto,Arial,sans-serif;
	word-wrap: break-word;
	color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
	background-image: linear-gradient(#0d1017, #18222e);
    background-size: cover!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#container {
width: 100%;
height: 100vh;
background-image: url(https://i.imgur.com/hTiRMZf.png), url(https://i.imgur.com/bO2MuIo.png), url(https://i.imgur.com/bcBRoVL.png);
background-repeat: no-repeat;
background-position: center;
background-position: 50% 50%;
background-size: 105% 100%;
}
@media (max-width: 1280px) { //1.333
	#container {
	  width: 100%;
	  height: 100vh;
	  background-image: url(https://i.imgur.com/ppJkn41.png), url(https://i.imgur.com/Iwz06m8.png), url(https://i.imgur.com/B2Jp25e.png);
	  background-repeat: no-repeat;
	  background-position: center;
	  background-position: 50% 50%;
	  background-size: 150% 100%;
	}
}

a:link, a:visited { text-decoration:none; color: #1997c6; }
a:hover, a:active { color:#fff; }

/* add */
.annotation { text-align: center; background-color: rgba(0, 0, 0, 0.5); padding-top:17px; padding-bottom:17px; } 

/* details */
.details_table { margin: auto; border: 1px solid #22252f; border-spacing: 0px 0px; border-collapse: collapse; }
.details_table tr { white-space:nowrap; border: 1px solid #22252f; table-layout:fixed; }
.details_table tr:nth-child(n) { background-color: rgba(0, 0, 0, 0.5); }
.details_table tr:nth-child(2n) { background-color: rgba(0, 0, 0, 0.6); }
.details_table td { padding: 8px; border-top: 1px solid #22252f; }

.table_head { font-weight: bold; }
.spacer { display: none; }
.noinfo { margin:auto; text-align:center; background-color: rgba(0, 0, 0, 0.5); display: inline-block; padding:15px; border: 1px solid #22252f; }
#invalid_server_id, #back_to_servers_list { margin:auto; text-align:center; }
#servername { margin:auto; text-align:center; font-weight:bold; padding-bottom: 15px; font-size: 16px; border: 1px solid #22252f; background-color: rgba(26, 28, 34, 0.2); padding: 8px; margin-top:15px; margin-bottom:15px; }
#gamelink { width:100%; margin:auto; background-color: rgba(0, 0, 0, 0.5); text-align: center; padding-top:4px; padding-bottom:4px; }

/* list */
.contry_icon { border:none; width: 16px; height: 16px; }
a.details_icon { background-image: url(../other/icon_details.gif) !important; width: 16px; height: 16px; display: inline-block; }
.status_icon_onl { background-image: url(../other/icon_online.gif) !important; width: 16px; height: 16px; display: inline-block; }
.status_icon_nrs { background-image: url(../other/icon_no_response.gif) !important; width: 16px; height: 16px; display: inline-block; }
.status_icon_onp { background-image: url(../other/icon_online_password.gif) !important; width: 16px; height: 16px; display: inline-block; }

#server_list_table { margin:auto; width:95%; border-radius: 12px; padding-top:30px; }
#server_list_table tr { background-color: rgba(0, 0, 0, 0.5); }
#server_list_table td { padding:13px; }
.connectlink_cell { text-align:right; }
.servername_cell { text-align:left; }
.servername_cell > div { width:100%; overflow:hidden; height:1.3em; line-height:1.3em; }
.map_cell { white-space:nowrap; text-align:left; }
.players_cell { white-space:nowrap; text-align:right; }
.details_cell, .status_cell { white-space:nowrap; text-align:center; }
.details_cell > a { text-decoration: none; }
#totals { width: 95%; margin:auto; margin-top: 16px; background-color: rgba(0, 0, 0, 0.5); border: 1px solid #22252f; }
#totals > div { width: 28%;  padding:2%; text-align: center; display: inline-block; }

/* */
.inline{ display:inline-block; }