#admin_login_page table {
	margin: auto;
	text-align: center;
}
.admin-server-table {
	text-align: center;
	overflow: auto;
}
.admin-server-table table {
	margin: auto;
	text-align:center;
}
.admin-server-table th {
	letter-spacing: -1px;
}
.admin-server-table td {
	text-align:center;
	white-space:nowrap;
}
.admin-help-info {
	text-align: center;
	line-height: 1em;
	font-size: 1em;
}
.admin-help-info table {
	border: 1px solid;
	margin: auto;
	text-align: left;
}
select[name^='form_type'] {
	width: 16rem;
}
textarea[name='form_list'] {
	width: 95%;
	height: 500px;
	font-size: 1.2em;
	font-family: courier new, monospace;
}
input[name^='form_s_port'], input[name^='form_q_port'], input[name^='form_c_port'] {
	width: 55px;
}
input[name^='form_comment'] {
	width: 16rem;
}
#lgsl_main_buttons input{
	margin: 10px;
}
.inlined {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}
.tt {
	margin: auto;
	width: 610px;
}
.tt > .inlined:nth-child(2) {
	text-align: end;
}
.inlined > div > div:first-child {
	height: 46px;
	overflow-y: auto;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
}

::-webkit-scrollbar {
	width: 6px;
	background: #3e3e3e;
}
.space {
	display: block;
	height: 2em;
}
.space2x {
	display: block;
	height: 4em;
}
@media(max-width: 414px) {
	.inlined {
		display: block;
		width: 100%;
		vertical-align: top;
	}
	.tt{
		width: auto;
		padding: 7px;
	}
}

/* Detection Section */
div#admin_page > #protocols_list select, div#admin_page > #protocols_list input:not([type="submit"]) {width: 300px; text-align: left !important;}
div#admin_page > #protocols_list select {height: 300px !important;}
div#admin_page > #protocols_list {text-align: right;}
div#admin_page > #protocols_log, div#admin_page > #protocols_list {width: 49.8%;display: inline-block; vertical-align: top; font-family: monospace;}
/* Protocols Section */
#protocols_table { margin: auto; }
#protocols_table td { border-bottom: 1px solid gray; font-weight: 100; }
#protocols_table strong { text-decoration: underline; }